/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

h1 {
  text-align: center;
  background-color: gray;
  padding: 20px;
  margin: auto;

}

.mainPage{
  text-align: center;
}

p{
  font-size: 20px;
}

.picture{
  width: 400px;
  padding: 10px;
}

.scoreCurrent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button{
  margin-top: 10px;
}
